<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gopher Applications</title>
</head>
<link rel="stylesheet" href="/static/css/home.css">

<body>
    <div id="header">
        <h2>Gopher Applications</h2>
    </div>
    <div id="menu">
        <a href="">Home</a>
        <a href="">Pengguna</a>
        <a href="">Keluar</a>
    </div>

    <div id="conten">
        {{template "conten"}}
    </div>
</body>

</html>

</html>