<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golang Validation</title>
</head>

<link rel="stylesheet" href="/static/css/style.css">

<body>

    <form action="/login" method="POST">
        <h2>Login</h2>
        <br>
        <div>
            <label>Username</label>
            <br>
            <input type="text" name="username" maxlength="20" autocomplete="off">
        </div>
        <div>
            <label>Password</label>
            <br>
            <input type="password" name="password" maxlength="30" autocomplete="off">
        </div>
        <div>
            <input type="submit" name="save" value="simpan">
        </div>

        <p>
        </p>
    </form>

</body>

</html>